<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menú Tabla Asignación</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>¿Qué quieres realizar en la tabla de la base de datos?</p>
        <p>1.- Consultar a la tabla</p>
        <p>2.- Insertar un proyecto a la tabla</p>
        <p>3.- Actualizar los datos de un proyecto</p>
        <p>4.- Eliminar un proyecto de la tabla</p>
        <p>5.- Salir</p>
        <form action="#" th:action="@{/menu/opcionElegidaProyecto}" th:object="${eleccion}" method="post">
            <p>Elegir opcion: <input type="number" th:field="*{opcion}"/></p>
            <p th:if="${#fields.hasErrors('opcion')}" th:errors="*{opcion}">La opción tiene errores</p>
            <p><input type="submit" value="Aceptar"/></p>
        </form>

    </body>
</html>