<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inserta Asignación</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action="@{/menu/insertaProyecto}" th:object="${proyecto}" method="post">
            <p>Ingresa el número de proyecto: <input type="number" th:field="*{proyectoId}"/></p>
            <p th:if="${#fields.hasErrors('proyectoId')}" th:errors="*{proyectoId}">La opción tiene errores</p>
            <p>Ingresa el nombre del proyecto: <input type="text" th:field="*{nombreProyecto}"/></p>
            <p th:if="${#fields.hasErrors('nombreProyecto')}" th:errors="*{nombreProyecto}">La opción tiene errores</p>
            <p>Ingresa la descripción del proyecto: <input type="text" th:field="*{descripcion}"/></p>
            <p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">La opción tiene errores</p>
            <p>Ingresa la fecha inicio del proyecto (yyyy-mm-dd): <input type="text" th:field="*{fechaInicio}"/></p>
            <p th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}">La opción tiene errores</p>
            <p>Ingresa la fecha fin del proyecto (yyyy-mm-dd): <input type="text" th:field="*{fechaFin}"/></p>
            <p th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}">La opción tiene errores</p>
            <p><input type="submit" value="Aceptar"/></p>
        </form>
    </body>
</html>

