<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu del Crud</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>ProyectoId = <span th:text="${proyecto.proyectoId}"></span></p>
        <p>Nombre = <span th:text="${proyecto.nombreProyecto}"></span></p>
        <p>Descripción = <span th:text="${proyecto.descripcion}"></span></p>
        <p>Fecha inicial = <span th:text="${proyecto.fechaInicio}"></span></p>
        <p>Fecha final = <span th:text="${proyecto.fechaFin}"></span></p>
    </body>
</html>
