<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu del Crud</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>TareaID = <span th:text="${tarea.tareaId}"></span></p>
        <p>Nombre = <span th:text="${tarea.nombreTarea}"></span></p>
        <p>Descripción = <span th:text="${tarea.descripcion}"></span></p>
        <p>ProyectoID = <span th:text="${tarea.proyectoId}"></span></p>
    </body>
</html>
