<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Consultar tabla Proyecto</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Ingresa el ID del registro a actualizar</p>
        <form action="#" th:action="@{/menu/desarrolladorActualiza}" th:object="${id}" method="post">
            <p>Introducir ID: <input type="number" th:field="*{opcion}"/></p>
            <p th:if="${#fields.hasErrors('opcion')}" th:errors="*{opcion}">La opción tiene errores</p>
            <p><input type="submit" value="Aceptar"/></p>
        </form>
    </body>
</html>
