<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu del Crud</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>DesarrolladorId = <span th:text="${desarrollador.desarrolladorId}"></span></p>
        <p>Número de empleado = <span th:text="${desarrollador.numEmpleado}"></span></p>
        <p>Nombre = <span th:text="${desarrollador.nombre}"></span></p>
        <p>Apellido Paterno = <span th:text="${desarrollador.apPaterno}"></span></p>
        <p>Apellido Paterno = <span th:text="${desarrollador.apMaterno}"></span></p>
    </body>
</html>
